
*{
    box-sizing:border-box;
}
body{
    background-color:breen;
}
.container1{

    background-image:url(image.jpg);
    width:700px;
    height: 600px;
    margin:8px;
    border-radius: 20px;  
     background-image: linear-gradient(#669b7c,
    #e4f6f6);
}


.container2{
    padding: 30px;
   
    color: rgb(253, 255, 254);
    margin:10%;
    border-radius: 2%;  
}


#h3{
    color: rgb(16, 15, 15);
    font-size: xx-large;
    text-align: center;
}

.btn{
    align-items: center;
    background-color: #438e4f;
     color: white;

}

